body {
    background-color: white;
}

/* Navigation */

.navbar {
    background-color: white;
}

.navbar-brand {
    color: lightblue;
}

/* Image Overlay */

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.col-md-4:hover .image {
    opacity: 0.3;
}

.col-md-4:hover .middle {
    opacity: 1;
}

/* Colors */

.brand-1 {
    color: #050505;
}

.brand-2 {
    color: #fffbf0;
}

.accent-1 {
    color: #e9b940;
}

.accent-2 {
    color: #515c3d;
}

.accent-3 {
    color: #ed1f0f;
}

.accent-4 {
    color: #8c5c15;
}

/* Typography */

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50pt;
}

.h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38pt;
}

.h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32pt;
}

.body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.sub-head {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 16pt;
}

.caption-copy {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 16pt;
}

.mont-thin {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.mont-reg {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.pt-serif-bold {
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14pt;
}

/* Margins, Padding, Text-Align */

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-50 {
    margin-left: 50px;
}

.text-align-center {
    text-align: center;
}

.pt-5 {
    padding-top: 5rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.pl-5 {
    padding-left: 5rem;
}

.pr-5 {
    padding-right: 5rem;
}

.col-lg-12 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Carousel */

.carousel {
    height: 500px;
    width: 100%;
}

.carousel-inner {
    height: 500px;
}

.item {
    height: 400px;
}

.img-circle {
    display: block;
    width: 100%;
    height: auto;
}

/* Jumbotron */

.jumbotron {
    background-color: gray;
    height: 730px;
}

/* Footer */

.footer {
    width: 100%;
    height: 40px;
    color: black;
    text-align: left;
    margin-top: 20px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 10px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    color: black;
    /* Text color */
    padding: 5px;
    /* Some padding */
    font-size: 14px;
    /* Increase font size */
}

#myBtn:hover {
    color: #555;
    /* Add a dark-grey on hover */
}